.container{
    background-color: rgb(255, 255, 255);
    display: flex;
    border: dotted 1px #000;
    width: 60vw;
    padding: 1rem;
    position: relative;
    margin : 1rem 0;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 1rem;
}
.container img {
    max-width: 100px;
    border-radius: 1rem;
}
.buttons{
padding: 1rem;
position: absolute;
right: 0;
}

.icon {
    border: none;
    background-color: #00a9fd;
    cursor: pointer;
    padding: 0.3rem;
    font-size: x-large;
    color: #fff;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
}

