.container{
    background-color: rgb(215, 215, 215);
    display: flex;
    border: dotted 1px #000;
    width: 60vw;
    padding: 1rem;
    position: relative;
}
.container img {
    max-width: 100px;
    border-radius: 1rem;
}
.buttons{
padding: 1rem;
position: absolute;
right: 0;
}

.icon {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0.1rem;
    font-size: x-large;
}

.trash {
    
    color: rgb(196, 0, 0);
   
}

.plus {
    color: rgb(99, 165, 0);

}
.minus {
    color: rgb(29, 29, 29);
}