.container{
    font-family: Arial, Helvetica, sans-serif;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(184, 184, 184);
    
}

.box {
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 20px #3f3f3f;
    min-height: 150px;
    width: 200px;

}

.image{

   height: 250px;
}

.icon {
    border: none;
    background-color: #00a9fd;
    cursor: pointer;
    padding: 0.3rem;
    color: #fff;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
}

.count{
    border: none;
    background-color: #00a9fd;
    cursor: pointer;
    padding: 0.3rem;
    color: #fff;
    margin: 0 0.2rem;
    border-radius: 0.5rem;
}

.details{
    
}

.price {
    background-color: #00a9fd;

    color: #fff;
    border-radius: .5rem;
    padding: 0.2rem;
}
.priceandcounter{
    display: flex;
    justify-content: space-between;
    margin-top: 0.3rem;
}