.header{

    height: 100px;
    color: #fff;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;



}
.upperdiv{

    background-color: rgb(49, 49, 49);
    color: #fff;
    padding-left: 1rem;
    display: flex;
    width: 100%;
    flex-direction: row; 
    position: fixed;
    z-index: 99;
    justify-content: space-between;
}

.categorybar{
    background-color: rgb(49, 49, 49);
    color: #fff;
    height: 50px;
    position: relative;
    top: 48px;
    z-index: 6;
    width: 100%;

    

    
}

.categoryburger{
    display: none;
}


.categorybar ul {
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    
}
.categorybar ul li {
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: .8rem;
    
}
i{
    font-size: x-large;
    color: #fff;
}

.cart{
position: relative;
right: 50px;
padding-top: .5rem;
height: 40px;
display: flex;
justify-content:flex-end;
}

.counter{
    background-color: red;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.link{
    text-decoration: none;
}

.menu{
    display: none;
}


@media only screen and  (max-width:425px)  {
    
  
    .header{
        
        overflow: hidden;


    }

    .cart{
margin-right: -2rem;
    }
    .categorybar{
display: none;
    
        
    }


    .categoryburger { 

position: relative;
right: 50px;
top: 15px;
display: flex;
flex-direction: column;


}
    .menuup{
margin-bottom: 2px;
height: 5px;
width: 40px;
background-color: #fff;
    }
    .menucenter{
        height: 5px;
        width: 40px;
        background-color: #fff;
    }
    .menudown{
        height: 5px;
        width: 40px;
        background-color: #fff;
        margin-top: 2px;
    }

    .menu{
     height: 600px;
     width:100vw;
     background-color: rgb(49, 49, 49);
     display: flex;
    }


    .menu ul{
        list-style-type: none;
        display: inline-block;
        text-align: center;

       }
   
    

    
}