.header{

    height: 100px;
    color: #fff;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;



}
.upperdiv{

    background-color: rgb(49, 49, 49);
    color: #fff;
    padding-left: 1rem;
    display: flex;
    width: 100%;
    flex-direction: row; 
    position: fixed;
    z-index: 99;
    justify-content: space-between;
}

.categorybar{
    background-color: rgba(49, 49, 49, 1);
    width: 100%;
    color: beige;
    height: 50px;
    position: relative;
    top: 48px;
    z-index: 6;
    

    
}
.categorybar ul {
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    
}
.categorybar ul li {
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: .8rem;
    
}
i{
    font-size: x-large;
    color: #fff;
}

.cart{
padding-right: 6rem;
padding-top: .5rem;
height: 40px;
display: flex;
justify-content:flex-end;
}

.counter{
    background-color: red;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.link{
    text-decoration: none;
}


@media only screen and (min-width:320px) and (max-width:425px)  {
    
  
    .header{
        width: 140vw;
        overflow: hidden;
        max-width:425px;
    }

    .cart{
margin-right: -2rem;
    }

    .categorybar ul{
display: none;
    
        
    }
    
}