.header{

    height: 99px;
    color: #fff;
    width: 100%;
    z-index: 10;
    display: flex;
    flex-direction: column;



}
.upperdiv{

    background-color: rgb(49, 49, 49);
    color: #fff;
    padding-left: 1rem;
    display: flex;
    width: 100%;
    flex-direction: row; 
    position: fixed;
    z-index: 99;
    justify-content: space-between;
}

.categorybar{
    background-color: rgb(49, 49, 49);
    color: #fff;
    height: 50px;
    position: relative;
    top: 48px;
    z-index: 6;
    width: 100%;

    

    
}

.categoryburger{
    display: none;
}


.categorybar ul {
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    
}
.categorybar ul li {
    list-style-type: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: .8rem;
    
}
i{
    font-size: x-large;
    color: #fff;
}

.cart{
position: relative;
right: 50px;
padding-top: .5rem;
height: 40px;
display: flex;
justify-content:flex-end;
}

.counter{
    background-color: red;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;

}
.link{
    text-decoration: none;
}

.menu{
    display: none;
}


@media only screen and (min-width:320px) and (max-width:425px)  {
    
  
    .header{
        width: 140vw;
        overflow: hidden;
width: 100%;
        height: 50px;
    }

    .cart{
margin-right: -2rem;
    }
    .categorybar{
display: none;
    
        
    }


    .categoryburger { 

position: relative;
right: 30px;
top: 15px;
height: 50px;  
display: flex;
flex-direction: column;


}
    .menuup{
margin-bottom: 2px;
height: 5px;
width: 50px;
background-color: #fff;
    }
    .menucenter{
        height: 5px;
        width: 50px;
        background-color: #fff;
    }
    .menudown{
        height: 5px;
        width: 50px;
        background-color: #fff;
        margin-top: 2px;
    }

    .menu{
     height: 200px;
     width: 100vw;
     background-color: black;
    }
    
}