.container {
display: flex;
padding: 1rem 3rem;
margin: 2rem ;
}

.cart{
    display: flex;
    flex-direction: column;
}
.total{
    display: flex;
    position: fixed;
    right: 0;
    top: 40px;
    background-color: rgb(49, 49, 49);;
    flex-direction: column;
    padding: 1rem;
    margin:1rem 1rem;
    border-radius: 1rem;
    max-height: 200px;

    color: #fff;

    
}

.leftbutton{
    margin-left: 0.5rem ;
}

.buttons{
    text-align: center;
    margin-top: 1rem;
    position: relative;
    bottom: 0;
}
.buttons button {
    border: none;
    padding: .5rem;
}




@media only screen and (max-width:1000px) {
    .container {
display: flex;
margin: 0;
}

.total{
    display: inline-block;
    position: fixed;
    top:33px;
right: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    border-radius: 0
    ;
}
.cart{
margin-top: 80px;
}




.leftbutton{
    margin-left: 0.5rem ;
}

.buttons{
    text-align: center;
    margin-top: 0;
    position: relative;
    margin-top: 10px;
}
.buttons button {
    border: none;
    padding: .25rem;
}
}