.container {
display: flex;
padding: 1rem 3rem;
margin: 2rem ;
}

.cart{
    display: flex;
    flex-direction: column;
}
.total{
    display: flex;
    background-color: rgb(49, 49, 49);;
    flex-direction: column;
    padding: 1rem;
    margin:1rem 1rem;
    border-radius: 1rem;
    max-height: 200px;

    color: #fff;

    
}

.leftbutton{
    margin-left: 0.5rem ;
}

.buttons{
    text-align: center;
    margin-top: 1rem;
    position: relative;
    bottom: 0;
}
.buttons button {
    border: none;
    padding: .5rem;
}




@media only screen and (max-width:1000px) {
    .container {
display: flex;
background-color: aqua;
}

.total{
    display: flex;
    position: fixed;
    top:50px;
    min-width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
}




.buttons button {
    border: none;

}
}