.container {
display: flex;
padding: 1rem 3rem;
margin: 2rem ;

width: 65%;
min-height: 100vw;

position: relative;
top: 25px;

}


.cart{
    display: flex;
    flex-direction: column;
 
}


.total{
    width: 20%;
    display: flex;
position: fixed;
    right: 0;
    height: 90vh;
    background-color: rgb(49, 49, 49);;
    flex-direction: column;
    padding: 1rem;
    margin:-1rem 1rem;
align-items: center;

    color: #fff;

    
}


.buttonbox{
    display: flex;
    justify-content: center;
}

.btn{
    border: none;
    margin: 5px 10px;
    padding: .2rem;
    display: flex;
    width: 5vw;


    
}




@media only screen and (max-width:1000px) {


.total{

    display: inline-block;
position: fixed;
bottom: 0;
width: 100vw;
height: 35px;
margin:0;

    
}

.buttonbox{

    float:right ;
        margin: 5px 10px;
        width: 50vw;
}
.btn{
    border: none;
width: 80px;


    
}

.total span {
padding-left: 50px;

}
}