
.container {
    display: grid;
    grid-template-columns:  repeat(5,1fr);
    

}

@media only screen and (max-width : 425px) {

    .container{
        display: flex;
        flex-direction: column;
    }
    
}