
.container {

    display: grid;
grid-template-columns:repeat(4,1fr);
position: relative;
overflow: hidden;
top: 40px;




}

@media only screen and (max-width:1024px) {
    .container{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        overflow: hidden;
    }
}

@media only screen and (min-width:320px) and (max-width:425px)  {
    .container{
display: grid;
grid-template-columns: 425px;
overflow: hidden;
width:fit-content;


    }
}

